<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michael.video">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".AmvFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_amv_fullscreen">
            </activity>
    </application>

</manifest>