<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.michael.video">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".obsolete.AmvFullscreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:label="@string/title_activity_amv_fullscreen"
            android:launchMode="singleTask"
            tools:targetApi="n">
        </activity>
    </application>

</manifest>